.game_characterSelection{
    margin: auto 5vw;
    display: flex;
    flex-direction: column;
}

.game_characterSelection-loading{
    margin: auto 5vw;
    display: flex;
    flex-direction: column;
    margin:20vh;
}