.question {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:5vh;
}

.answer-container{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: auto;
    margin-left: auto;
}

.answer-container2{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.answer-container-padding{
    width:20vw;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.answer-sol{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.minotor{
    width: 23vw;
}

@media screen and (max-width: 768px){
    .answer{
        flex-wrap:wrap;
    }
    .minotor{
        visibility: hidden;
        position: fixed;
    }
    h4{
        margin: 2vh 2vw;
    }
    .answer-container{
        flex-wrap: wrap;
    }
}