.selection-panel {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  max-height: 680px;
  overflow: auto;
}


.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.square:hover {
  background-color: #eee;
}
  