.ariane{
    text-align: center;
}
.ariane__game{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin:0 5vw;
}
 
.ariane__board{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    width :50vw;
}
.ariane__actions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ariane__drawer{
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--color-orange1);
    cursor: pointer;
    border-radius: 10px;
}
.ariane__questions{
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    background-color: white;
}

.ariane__list-questions{
    display: flex;
    flex-direction: column;
    max-height:40vh;
    overflow-y: scroll;
}

.ariane__question-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.ariane__question-text:hover{
    background-color: rgba(237, 168, 40, 0.24);
    cursor: pointer;
}


.ariane__button{
    font-family: var(--font-inika);
    font-weight: bold;
}
.ariane-square-img {
    width: 15%;
    border-radius: 10px;
}