.slider {
    -webkit-appearance: none;
    width: 50vw;
    height: 15px;
    border-radius: 10px;
    background: var(--color-purple2);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-orange1);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .slider-value{
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font-inika);
  }

  .span{
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50;}