@import url("https://fonts.googleapis.com/css?family=Inika");
@font-face {
  font-family: "caesar_dressingregular";
  src: url("../public/fonts/CaesarDressing-Regular.ttf");
}

:root {
  --font-caesar: 'caesar_dressingregular';
  --font-inika: 'Inika';
  --color-purple1: #6E598C;
  --color-purple2: #482D57;
  --color-orange1: #EDA828;
  --color-orange2: #FCD25D;
  --color-blue1: #C5D7F4;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  display: inline-block;
  font-family: var(--font-caesar);
  font-size: 15vh;
  color: #000000;
  margin: auto;
  margin-bottom: 0rem;
  margin-top : 3rem;
  width: auto;
}
h1:hover{
  cursor: pointer;
}

h2{
  font-family: var(--font-inika);
  text-transform: uppercase;
  font-size: 4vh;
  margin:0;
}

h3{
  font-family: var(--font-caesar);
  text-transform: uppercase;
  font-size: 1.5rem;
  margin:2vh auto;
}
h3:hover{
  cursor: pointer;
}

h4{
  font-family: var(--font-caesar);
  text-transform: uppercase;
  font-size: 2.5vw;
  margin:2vh auto;
}


button{
  display: flex;
  justify-content: center;
  width: fit-content;

  font-family: var(--font-caesar);
  font-size: 1.5vw;
  text-transform: uppercase;
  color: black;
  border: none;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  margin: 1vh;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  button{
      font-size: 1.5rem;

  }
  h1{
      font-size: 10vh;
  }
  h4{
    font-size: 1.5rem;
  }
  
}

.white-color{
  color: white;
}

.button-orange{
  background: #EDA828;
}

.button-blue{
  background: #C5D7F4;
}

.button-red{
  background: #852B2B;
}

.inika{
  font-family: var(--font-inika);
}

.small-text{
  font-size: 1.25rem;
}