@import url("https://fonts.googleapis.com/css?family=Inika");
@font-face {
  font-family: "caesar_dressingregular";
  src: url("../public/fonts/CaesarDressing-Regular.ttf");
}

:root {
  --font-caesar: 'caesar_dressingregular';
  --font-inika: 'Inika';
  --color-purple1: #6E598C;
  --color-purple2: #482D57;
  --color-orange1: #EDA828;
  --color-orange2: #FCD25D;
  --color-blue1: #C5D7F4;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  display: inline-block;
  font-family: var(--font-caesar);
  font-size: 15vh;
  color: #000000;
  margin: auto;
  margin-bottom: 0rem;
  margin-top : 3rem;
  width: auto;
}
h1:hover{
  cursor: pointer;
}

h2{
  font-family: var(--font-inika);
  text-transform: uppercase;
  font-size: 4vh;
  margin:0;
}

h3{
  font-family: var(--font-caesar);
  text-transform: uppercase;
  font-size: 7.5vh;
}
h3:hover{
  cursor: pointer;
}

h4{
  font-family: var(--font-caesar);
  text-transform: uppercase;
  font-size: 2.5vw;
  margin:2vh auto;
}
h5{
  font-family: var(--font-inika);
  text-transform: uppercase;
}


button{
  display: flex;
  justify-content: center;
  width: fit-content;

  font-family: var(--font-caesar);
  font-size: 1.5vw;
  text-transform: uppercase;
  color: black;
  border: none;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

p{
  margin: 0;
}

@media screen and (max-width: 768px){
  button{
      font-size: 1.5rem;

  }
  h1{
      font-size: 10vh;
  }
  h4{
    font-size: 1.5rem;
  }
  
}

.white-color{
  color: white;
}

.button-orange{
  background: #EDA828;
}

.button-blue{
  background: #C5D7F4;
}

.button-red{
  background: #852B2B;
}

.input-file{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.label-input-file{
  font-family: var(--font-inika);
  color: white;
  background-color: var(--color-orange1);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.label-input-file:hover{ 
  border: 2px solid white;
}


.inika{
  font-family: var(--font-inika);
}

.purple-hover:hover{
  box-shadow: 0 0 0 0.5rem #6E598C;
}
.small-text{
  font-size: 1.25rem;
}

.no-padding{
  padding: 0;
}

.no-margin{
  margin: 0;
}


/* ==== LOADERS ==== */

.loader {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
  border-radius: 5px;
}
.loader::after {
  content: '';
  width: 192px;
  height: 4.8px;
  background: var(--color-orange1);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
  border-radius: 10px;

}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

.loader2 {
  width: 20px;
  height: 30px;
  display: block;
  margin: auto;
  position: relative;
  border-radius: 4px;
  color: var(--color-orange1);
  background: currentColor;
  box-sizing: border-box;
  animation: animloader2 0.6s 0.3s ease infinite alternate;
}
.loader2::after,
.loader2::before {
  content: '';  
  box-sizing: border-box;
  width: 20px;
  height: 30px;
  background: currentColor;
  position: absolute;
  border-radius: 4px;
  top: 0;
  right: 110%;
  animation: animloader2  0.6s ease infinite alternate;
}
.loader2::after {
  left: 110%;
  right: auto;
  animation-delay: 0.6s;
}

@keyframes animloader2 {
  0% {
    width: 20px;
  }
  100% {
    width: 48px;
  }
}

.loader-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader-circle::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
