.app {
  display: flex;
  flex-direction: column;
  align-content: center;

  text-align: center;
  background-image: url("../public/img/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
}