.selection-panel {
  display: flex;
  gap: 10px;
  max-height: 50vh;
  overflow: auto;
  flex-wrap: wrap;
  padding: 10px;
}

.selection-panel > div {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.square-img{
  width: 13.25%;
  border-radius: 10px;
  transition-timing-function: cubic-bezier(0.05, 0.1, 1, 0.05);
}

.square-img:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition-timing-function: cubic-bezier(0.05, 0.1, 1, 0.05);
}
@media screen and (max-width: 768px){
  .square-img{
    width: 30%;
  }
  
}

/*SCROLL BAR*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-purple1);
  border-radius: 10px;
  }
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-orange1);
  border-radius: 10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-orange2);
}